<form action= <%= session_url %> method="POST">
  <h1>Log into 99cats!</h1>
    <%= form_auth_token %>
    <p>
      <input name="user[user_name]" id="user_name">
      <label for="user_name">Username</label>
    </p>

    <p>
      <input type="password" name="user[password]" id="password">
      <label for="password">Password</label>
    </p>

    <input type="submit" value="Log in!">

</form>
