<form action = <%= user_url %> method = "POST">
  <%= form_auth_token %>
  <h1>Sign up for 99cats!</h1>
  <p>
    <input
    id="user_name"
    name="user[user_name]">
    <label for="user_name">Username</label>
  </p>

  <p>
    <input
    type="password"
    id="user_password"
    name="user[password]">
    <label for="user_password">Password (minimum 6 characters)</label>
  </p>

  <input type="submit" value="Sign up!">
</form>
